[submodule "packages/discourse-src"]
	path = packages/discourse-src
	url = https://github.com/discourse/discourse
	branch = v3.2.1
[submodule "packages/discourse_docker"]
	path = packages/discourse_docker
	url = https://github.com/discourse/discourse_docker
[submodule "packages/hello-melange-apko"]
	path = packages/hello-melange-apko
	url = https://github.com/chainguard-dev/hello-melange-apko.git
[submodule "packages/melange"]
	path = packages/melange
	url = https://github.com/chainguard-dev/melange
[submodule "packages/bitnami/containers"]
	path = packages/bitnami/containers
	url = https://github.com/bitnami/containers
